<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RussianDiamond.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55148AD81F0A1A13003E7760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55148AEC1F0A1A14003E7760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55148AF71F0A1A14003E7760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
